:root{
    --background-color:#fff;
    --text-color:#000;
    --popup-veil:rgba(0,0,0,0.5);
}
html,body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
div.simulation{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1000px calc(100vw - 1000px);
    grid-template-rows: 75px 400px calc(100vh - 475px  );
}
div.simulation > *{
    width: 100% !important;
    height: 100% !important;
    font-family: monospace;
}
div.title{
    grid-row: 1/2;
    grid-column: 1/-1;
    text-align:center;
}
canvas{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.controls{
    grid-row: 2/3;
    grid-column: 2/3;
    display:flex;
    flex-direction: column;
}
.controls .currentGeneration{
    font-weight: 600;
}
.generation-view{
    text-align: center;
    width:50px
}
.genomeStats{
    grid-row: -1/-2;
    grid-column: 1/-1;
    text-align:center;
}
div.results{
    display:flex;
    flex-direction: row;
}
div.results > div{
    flex-grow: 1;
}

.popup{
    position:absolute;
    display:none;
    margin:0;
    width:80vw;
    height:80vh;
    top: 10vh;
    left: 10vw;
}
.popup.shown{
    display: block;
    background: #fff;
    border: 1px solid #000;
}
.popup.shown::after{
    content:"";
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.5);
    z-index:-1;
}
.telementrywindow{
    overflow-y: scroll;
    flex:1;
}